<html>
  <center>
    <h1> The hostname of this webserver is {{ ansible_fqdn | upper }}</h1>
    <h3> It is running on {{ ansible_os_family | upper}} system </h3>
    <p> this is a {{ stage | replace('dev','Development') | replace('prod','Production') }} server </p>

    <h3> voici le resultat du lookup env {{ my_env }}  </h3>

  </center>
</html>
