[Unit]
Description = Apache Tomcat 8
After = syslog.target network.target

[Service]
User = tomcat
Group = tomcat
Type = oneshot
PIDFile =/opt/{{tomcat_dir}}-{{tomcat_version}}/tomcat.pid
RemainAfterExit = yes
ExecStart =/opt/{{tomcat_dir}}-{{tomcat_version}}/bin/startup.sh
ExecStop =/opt/{{tomcat_dir}}-{{tomcat_version}}/bin/shutdown.sh
ExecReStart =/opt/{{tomcat_dir}}-{{tomcat_version}}/bin/shutdown.sh;/opt/{{tomcat_dir}}-{{tomcat_version}}/bin/startup.sh

[Install]
WantedBy = multi-user.target

